body, html {
    height: 100%;
    margin-top: 0px; 
    margin-bottom: 0px; 
    margin-left: 0px; 
    margin-right: 0px;
    padding-left: 0;
    font-size: 25px;
	padding-top: 0px;
	font-family: 'Lato', sans-serif;
}

.text{
	text-align: center;
	padding-top: 0;
	padding-bottom: 0;
}
.text p{
	color: black;
	text-decoration: none;
	text-align:justify;
	padding-right: 25%;
	padding-left: 25%;

}
.text img{
	width: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto; 
	margin-top: 0%;
}

.text2{

}

.text2 img{
	display: block;
	position: absolute;
	z-index: -100;
}

.Titulos{
	width: 10%;
	float:left;
	text-align: right;
	margin-left: 8%
}
p{
	margin: 0;
}

.Descripciones{
	margin-left: 22%;
	width: 60%;
	border-left-style: solid;
	border-color: red;
	border-left-width: 40%;
	padding-left: 10px;
	
}

.logos{
	padding-top: 35px; 
	width: 100%
}
.logos img{
	height: 80px;
	margin-left: 1px;
	position: absolute;
	margin-left:5%;
	margin-right: auto;
	z-index: 100;
}
.logos2 img{
	height: 80px;
	margin-left: 1px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	z-index: 99;
}
.logos3 img{	
	height: 70px;
	position: absolute;
	margin-left: 75%;
	z-index: 98;

}
h2{
	text-align: center;
	font-family: 'Lato', sans-serif;
	color: #b1945b;
	font-size: 45px;

}
.menu{
	margin: 0;
	background-color: #3877ac;
	text-align: center;
	position: fixed;
	width: 100%;

}

.menu a{
	color: lightgray;
}

@media screen and (max-width: 1024px) {
	.logos img, .logos2 img, .logos3 img{
		height: 60px;
	}
	.text2 img{
		visibility: hidden;
	}
	.text3 img{
		height: 40px;
	}
	.Titulos{
	width: 10%;
	float:left;
	text-align: right;
	margin-left:2%
	}
}
@media screen and (max-width: 720px) {
	.logos img, .logos2 img, .logos3 img{
		padding-top: 30px;
		height: 40px;
	}
			.logos4 img, .logos5 img{
			height: 60px;
	}
	
	.logos6 img{
		height: 50px;
		margin-right: px;
	}
	.text3 img{
		height: 50px;
	}
	
	.logotipo{
	position: fixed;
	align-content: left;
	bottom: 85px;
	right: 0px;
	z-index: 90;
	}
	
	.Titulos{
	width: 10%;
	float:left;
	text-align: right;
	margin-left:0%
	}

}
@media screen and (max-width: 560px) {
	body, html {
    height: 100%;
    margin-top: 0px; 
    margin-bottom: 0px; 
    margin-left: 0px; 
    margin-right: 0px;
    padding: 0;
    font-size: 10px;
	}
	.text img{
		height: 100px;
		
	}
		.text z{
			color: gray;
			font-size: 8px;
		}
	.text1{
	text-align: center;
	padding-top: 0px;
	padding-bottom: 5px;
	}
		.text1 img{
			height: 100px;
		}
	.logos img, .logos2 img, .logos3 img{
		padding: 0px;
		height: 30px;
	}
	
	.logos4 img, .logos5 img{
			height: 60px;
	}
	
	.logos6 img{
		height: 50px;
		margin-right: px;
	}
	.Titulos{
	width: 10%;
	float:left;
	text-align: right;
	margin-left:6%
	}
	
	.text3 img{
		height: 30px;
	}
	
	.text2 img{
		padding-top: 60px;
		visibility: visible;
	}
	h2{
		font-size: 20px;
	}
}
